<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Covid-19</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>

<body>
<div class="wrapper">
		<div class="top-bar fix">
			<div class="top-bar-links">
                
            
			<div class="socialmedia">
        <ul>
          <li><a style="color: rgb(226, 26, 26);" href="/home">Home</a></li>
          <li><a style="color: rgb(68, 64, 64);" href="/dd">Virus Description</a></li>
          <li><a style="color: rgb(26, 24, 24);" href="/maps">Maps</a></li>
          <li><a style="color: rgb(70, 63, 63);" href="/visual">Visulization </a></li>
          <li><a style="color: rgb(70, 63, 63);" href="/prediction">Prediction </a></li>
          <li><a style="color: rgb(20, 19, 19);"  href="/about">About us</a></li>
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com" class="fa fa-instagram"></a>
        </ul>
              </div>
       

       
               </div>      
			
		   </div>
         <header class="fix">
       <div class="image">
           
      <img style="width: 1500px;" src="../static/images/title.png" />
       </div>



        </header>
<nav>
  
    <br>
<h4> Description</h4>
    <p4 align="justify"> Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus. </p4>
    <br>
    <p4 align="justify"> Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.</p4>
    <br>
    <h4>Risk</h4>
    <p4 align="justify"> The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
      You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.</p4>
 <br>
    <h4>Symptoms</h4>
    <p4 align="justify">
      Most common symptoms:
      fever
      dry cough
      tiredness
      Less common symptoms:
      aches and pains
      sore throat
      diarrhoea
      conjunctivitis
      headache
      loss of taste or smell
      a rash on skin, or discolouration of fingers or toes
      Serious symptoms:
      difficulty breathing or shortness of breath
      chest pain or pressure
      loss of speech or movement</p4>
<br>
    <h4>Prevention</h4>
    <ul class="a">


            <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li><br>
            <li>Maintain a safe distance from anyone who is coughing or sneezing.</li><br>
            <li>Wear a mask when physical distancing is not possible.</li><br>
            <li>Don’t touch your eyes, nose or mouth.</li><br>
            <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li><br>
            <li>f you have a fever, cough and difficulty breathing, seek medical attention.</li>

    </ul>
    <br>

    
        </div>


</body>
</html>
